DBT_SNOWFLAKE_ACCOUNT=your_account.region
DBT_SNOWFLAKE_USER=your_user
DBT_SNOWFLAKE_PASSWORD=your_password
DBT_SNOWFLAKE_ROLE=ACCOUNTADMIN
DBT_SNOWFLAKE_DATABASE=DBT_MARKETPLACE_TEST
DBT_SNOWFLAKE_WAREHOUSE=COMPUTE_WH
